<form method="get" action="/quizes">
	<p>Buscar texto en preguntas: </p>
	<input type="text" name="search" value="Texto a buscar" />
	<input type="submit" value="Enviar" />
</form>
<table>
	<tr>
		<td>
			<table class="search">
				<% if(quizes !== undefined  && quizes !== '') { %>
					<tr><td>Preguntas:</td></tr>
					<% var i; for (i=0; i < quizes.length; i++) { %>
						<tr><td><a href="quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a></td></tr>
					<% } %>
				<% } %>
			</table>
		</td>
		<td>
			<table class="search">
				<% if(search !== undefined  && search !== '') { %>
					<tr><td>Resultados de la búsqueda:</td></tr>
					<% var x; for (x=0; x < search.length; x++) { %>
						<tr><td><a href="quizes/<%= search[x].id %>"><%= search[x].pregunta %></a></td></tr>
					<% } %>
				<% } %>
			</table>		
		</td>
	</tr>
</table>